<header class="text-center py-1 mb-3">
    <h1 id="title">{{title}}</h1>
    <ul class="nav nav-pills justify-content-center my-3">
        {{#each (getRoutes hasTimestamps)}}
        <li class="nav-item me-1">
            {{#if (eq this ../page)}}
            <a class="nav-link active" aria-current="page" href="#">{{this}}</a>
            {{else}}
            <a class="nav-link" href="{{lower this}}">{{this}}</a>
            {{/if}}
        </li>
        {{/each}}
        {{#unless hasTimestamps}}
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">No in-depth data available</a>
        </li>
        {{/unless}}
        {{#if videoLink}}
        <li class="nav-item">
            <a class="nav-link " href="{{videoLink}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                    <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z" />
                </svg> Watch Match</a>
        </li>
        {{/if}}
    </ul>
</header>