<h3 class="timeline-header">{{segment.name}}</h3>

<div class="row">
{{#eachStat segment}}
    <div class="col-2 d-none d-lg-flex"></div>
    <div class="col-5 col-lg-3">
        {{#if isHome}}
        <p>
            {{#if ../videoLink}}
            <a href="{{../videoLink}}#t={{getTime time ../segment.startTime ../segment.minuteOffset ../segment.videoOffset}}" target="_blank">
            {{/if}}
                <b>{{getTime time ../segment.startTime ../segment.minuteOffset}}</b> - {{statType}} <i>({{outcome}}) {{#if isGoal}}<img src="/Football.svg" width="16" />{{/if}}</i>
            {{#if ../videoLink}}
            </a>
            {{/if}}
        </p>
        {{/if}}
    </div>
    <div class="col-2 timeline"></div>
    <div class="col-5 col-lg-3 text-end">
        {{#unless isHome}}
        <p>
            {{#if ../videoLink}}
            <a href="{{../videoLink}}#t={{getTime time ../segment.startTime ../segment.minuteOffset ../segment.videoOffset}}" target="_blank">
            {{/if}}
            <i>({{outcome}})</i> {{statType}} - <b>{{getTime time ../segment.startTime ../segment.minuteOffset}}</b>
            {{#if ../videoLink}}
            </a>
            {{/if}}
        </p>
        {{/unless}}
    </div>
    <div class="col-2 d-none d-lg-flex"></div>
{{/eachStat}}
</div>