<div class="row header row-cols-3">
    <div>
    </div>
    <div>
        <h3>{{homeTeam}}</h3>
    </div>
    <div>
        <h3>{{awayTeam}}</h3>
    </div>
</div>

    {{#each stats}}
    <div class="row stat row-cols-3{{#unless isFirst}} mt-3{{/unless}}">
        <div>
            <b>{{@key}}</b>
        </div>
        <div>
            <b>{{total.home}}</b>
        </div>
        <div>
            <b>{{total.away}}</b>
        </div>
    </div>
    
    {{#each substats}}
    <div class="row {{#if calculateTotalFrom}}sub{{/if}}substat row-cols-3">
        <div>
            {{@key}}
        </div>
        <div>
            {{home}} ({{calculateStatPercent home ../total.home}}%)
        </div>
        <div>
            {{away}} ({{calculateStatPercent away ../total.away}}%)
        </div>
    </div>
    {{/each}}
    {{/each}}