<style>
    header.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

header img {
    height: 120px;
    margin-right: 15px; 
}
</style>

<header class="text-center py-2 mb-3 logo">
    <img src="https://tottingtonunitedfc.com/wp-content/uploads/2022/04/LogoTUFC-.png" />
    <div class="title">
        <h1>Match Analysis</h1>
        <p class="fs-4 fst-italic">Totty United</p>
    </div>
</header>

<div class="container">
    <h2>All Matches</h2>

    <div class="row row-cols-1 row-cols-lg-3">
        {{#each matches}}
        <div class="col">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">{{HomeTeam}} {{HomeGoals}}-{{AwayGoals}} {{AwayTeam}}</h5>
                    <p>{{fmtDate StartTime}}</p>
                    <a href="/{{ID}}" class="btn btn-primary">View Stats</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>