<style>
    tr{
        min-height: 41px;
    }

    .stuck{
        position: absolute;
        width: 10rem;
        left: 0;
    }

    .table-responsive{
        margin-left: calc(10rem + 10px);
    }

    .section-row:not(:first-of-type) td{
        padding-top: 3rem;
    }

    td:not(.stuck), th:not(.stuck){
        text-align: center;
        padding: .5rem;
    }

    .attend-NA{
        font-style: italic;
        background-color: #EEE !important;
    }
</style>

{{> header}}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="stuck border-0"></th>
                {{#each events}}
                <th>{{Name}} <i>({{fmtDate Date}})</i></th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each squad}}
                <tr class="section-row">
                    <td class="stuck"><b>{{name}}</b></td>
                    <td class="border-0" colspan="{{../events.length}}">&nbsp;</td>
                </tr>
                {{#each players}}
                    <tr>
                        <td class="stuck">{{firstName}} {{lastName}}</td>
                        {{#each attendance}}
                        <td class="attend-{{ifNull this "NA"}}">{{ifNull this "?"}}</td>
                        {{/each}}
                    </tr>
                {{/each}}
            {{/each}}
        </tbody>
    </table>
</div>