<style>
    summary h3{
        display: inline-block;
    }
</style>

{{> header}}

<div class="container">
    <p><a href="/">← Back to Match List</a></p>

    <h2>{{title}}</h2>
    <div class="input-group mb-3">
        <select class="form-control" id="monthSelector">
            <option value="">-- Choose a Month --</option>
            {{#each activeMonths}}
            <option value="{{year}}-{{month}}">{{label}}</option>
            {{/each}}
        </select>
        <button class="btn btn-outline-primary" type="button" id="monthMover">Go!</button>
    </div>

    {{#if noMatches}}
        <div class="alert alert-danger text-center">No matches found. Please select a month from the dropdown above</div>
    {{else}}

    {{> statTable title="" homeTeam="Totty" awayTeam="Opposition" stats=allStats}}

    <hr class="my-3" />

    {{#each matches}}
        <details>
        <summary><h3><i>{{HomeTeam}} vs {{AwayTeam}} ({{HomeGoals}} - {{AwayGoals}})</i></h3></summary>
        {{#each segments}}
        <div class="mb-3">
            {{> statTable title=Name homeTeam=../HomeTeam awayTeam=../AwayTeam stats=stats}}
        </div>
        {{/each}}
        </details>
    {{/each}}

    {{/if}}
</div>

<script>
    const btn = document.getElementById("monthMover");
    const dropdown = document.getElementById("monthSelector");

    btn.addEventListener("click", () => {
        if(dropdown.value.trim().length == 0){
            alert("Please select a month to view");
            return;
        }

        const parts = dropdown.value.split("-").map(x => parseInt(x));
        document.location.href = `?year=${parts[0]}&month=${parts[1]}`;
    });
</script>